<ion-header class="complaints">
  <nl-navbar [title]="title"></nl-navbar>
</ion-header>
<ion-content padding class="csMargin survey">
  <div *ngFor="let que of questions; let i = index">
    <b> Q - {{i + 1}}) {{que.title}} </b>
    <ion-card color="light">
      <rating *ngIf="que.questionTypeId == '1'" [(ngModel)]="fillStarts[i]" name="fillStarts[i]" max="5"></rating>
    </ion-card>
    <ion-card color="light" *ngIf="que.questionTypeId == '3'">
      <ion-item>
        <ion-textarea [(ngModel)]="fillStarts[i]" name="text" placeholder="Enter a description (optional)"> </ion-textarea>
      </ion-item>
    </ion-card>
  </div>
  <button ion-button outline (click)="onSubmit()">SUBMIT</button>
</ion-content>
